@use "@material/theme" with (
  $primary: #f0acac,
  $on-primary: #eb5e6a
);

@use "@material/button";

@include button.core-styles;

.custom-button-red {
  @include button.ink-color(#721d1d);
  font-size: 2rem;
}

.custom-button-green {
  --mdc-theme-primary: #c7f0ac;
  @include button.ink-color(#3c473c);
  font-size: 2rem;
}
